header h2 {
  font-family: "Pacifico", serif;
  font-size: 48px;
}
footer {
  width :960px;
}
footer ul li {
  display: inline-block;
}
#copyright {
  color : gray;
  font-size : 12px;
}
#copyright hr {
  width : 459px;
  display: inline-block;
}
#copyright img {
  display: inline;
}
hr {
  height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}
