header {
  width: 960px;
  height: 60px;
  background-color: grey;
}

nav {
  margin: 0px auto;
}

nav ul li {
  display: inline-block;
  float: right;
  margin-right: 2px;
  margin-bottom: 30px;
}

#topLogo img {
  float: left;
  margin-right: 5px;
}

header hr {
  margin-top: 10px;
}

main {
  width: 960px;
  margin: 30px auto;
}

main h1 {
  font-family: 'Helvetica', sans-serif;
}

#articleInfo {
  float: left;
}

#printArticle {
  display: inline-block;
  float: right;
}

#recipeCard {
  background-image: url('images/list-bg.png');
}

#recipeCard ul {
  display: inline-block;
  padding: 25px;
  margin-right: 200px;
}
